.body {
    font-family: 'Heebo', sans-serif;
}

/*header */
.customNav {
  width: 100%;
  background-color: black !important;
  height: 60px;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 8% !important;
}

.userNav {
  display: inline-flex;
  align-items: center;

}

.nav-item {
  margin: 0px 15px;
  font-size: 90%;

}
.nav-link {
  color: white !important;
}

.crumbs {
  padding-top:1%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-size: 80%;
  align-content: center;

}
/*hero section*/
.heroImg {
  background-image: url("hero\ photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; 
  text-align: center;
 }

p {
  margin-bottom: 0px;
}
h1 {
  color: white !important;
  font-family:'Montserrat', sans-serif;
  font-size: 350%;
  padding-top: 3%;
}

h4 {
  color: white !important;
  font-family:'Montserrat', sans-serif;
  font-size: 200%;
  color: white !important;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
}
.heroText {
  color: white !important;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 50pt;;
}
  /*Newsletter section*/

  button {
    font-size:80%;
    font-weight: bold;
    border-radius: 8px;
    background-color: #E5AB88;
    border-color: transparent;
    float: right;
    padding:1%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .insidebtn {
    font-size:80%;
    font-weight: bold;
    background-color: transparent;
    border:none;
    float: right;
    padding:1%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  button:hover {
    background-color: #d88a59;
  }

  .insidebtn:hover {
    text-decoration: underline;
    background-color: transparent;
  }
  .newsHeader {
    margin-top: 10%;
    width: 18rem;
    margin-left: 10%;
  }

  .newsCard {
    margin-left: 10%;
    margin-top: 10%;
  }

  .firstnewsCard {
    margin-left: 10%;
    margin-top: 17%;
  }

  .newsFooter {
    width: 18rem;
    margin-left: 10%;
    margin-top: 5%;
  }
  .middleContainer {
    padding-left: 3%;
    padding-right: 3%;
  }

  .middleTitle{
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 10%;
  }

  .middleCard {
    margin: 0 auto;
    margin-top: 5%;
  }
  .middleFooter {
    width: 34rem;
    margin-left: 10%;
    margin-top: 5%;
    padding-bottom: 10%;
  }
  .cardPic {
    margin-top: 15%;
    width: 70%;
    float:center;
  }

  .moreHeader {
    margin-top: 10%;
    width: 18rem;
    margin-left: 10%;
  }
  .moreCard {
    margin-left: 10%;
    margin-top: 10%;
  }

  .moreCard:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  .firstmoreCard:hover  {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

  .firstmoreCard {
    margin-left: 10%;
    margin-top: 15%;
  }

  .signup {
    padding-top: 2%;;
    font-family:'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: lighter;
  }

  .textFooter {
    font-family:'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: normal;
    padding-bottom: 5%;
  }

  .footerText {
    width: 60%;
    margin: 0 auto;
  }

  .btn {
    margin-top: 0%;
  }